@font-face {
    font-family: "Bodoni 72";
    src: url("/assets/fonts/Bodoni 72.ttc");
}

@font-face {
    font-family: "Bodoni Book";
    src: url("/assets/fonts/Bodoni Book.otf");
}

@font-face {
    font-family: "Erotique Alternate Trial Bold";
    src: url("/assets/fonts/ErotiqueAlternateTrial-Bold.ttf");
}

@font-face {
    font-family: "Gotham";
    src: url("/assets/fonts/Gotham-Thin.otf");
    font-weight: 100;
}

@font-face {
    font-family: "Gotham";
    src: url("/assets/fonts/GothamBold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Gotham Book";
    src: url("/assets/fonts/GothamBook.ttf");
}

@font-face {
    font-family: "Gotham";
    src: url("/assets/fonts/GothamLight.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Kelson";
    src: url("/assets/fonts/kelson_rg.otf");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: url("/assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Myriad Pro";
    font-weight: 700;
    src: url("/assets/fonts/MyriadPro-Bold.otf");
}
@font-face {
    font-family: "Myriad Pro";
    font-weight: 400;
    src: url("/assets/fonts/MyriadPro-Regular.otf");
}

@font-face {
    font-family: "New York";
    src: url("/assets/fonts/NewYork.otf");
}

@font-face {
    font-family: "Nexa";
    src: url("/assets/fonts/Nexa Bold.otf");
    font-weight: 500;
}
@font-face {
    font-family: "Nexa";
    src: url("/assets/fonts/NexaBold.otf");
    font-weight: 700;
}
@font-face {
    font-family: "Nexa";
    src: url("/assets/fonts/NexaLight.otf");
    font-weight: 300;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/Poppins-Bold.otf");
    font-weight: 700;
}
@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/Poppins-Light.otf");
    font-weight: 300;
}

@font-face {
    font-family: "Rossanova";
    src: url("/assets/fonts/Rossanova-Regular.otf");
}